.imgprofile {
  height: 100%;
  width: 200px;
}

.profile{
  cursor: pointer;
  width: 100%;
  height: 400px;
  background-color: rgb(210, 255, 210);
  shape-outside: border-box;
  border: none;
}

.frenteprofile, .costaprofile{
  width: 85%;
  height: 90%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform.5s linear;
}

.profile:hover > .frenteprofile {transform: perspective(500px) rotateY(-180deg);}
.profile:hover > .costaprofile {transform: perspective(500px) rotateY(0deg);}

.frenteprofile { transform: perspective(500px) rotateY(0deg); }
.costaprofile { transform: perspective(500px) rotateY(180deg); }

.costaprofile-content {
  text-align: center;
}

.margemEsquerda{
    margin-left: 25px
}

.margem{
    padding-top: 20px
}
