html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

div.body-content{
  padding-bottom: 100px;
}

.body{
  background-color: rgb(50, 50, 50);
  height: 100%;
}
.search-box{
  position: absolute;
  right: 5%;
  background-color: rgba(30,144,255,1.00);
  height: 50px;
  transform: translate(0%, 0%);
  border-radius: 50px;
  padding: 10px;
}
.search-box:hover > .search-txt{
  width: 240px;
  padding: 0 6px;
}
.search-box:hover > .search-btn{
  background: none;
}
.search-btn{
  color: rgba(31,31,31,1.00);
  float: right;
  width: 40px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(30,144,255,1.00);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 18px;
  transition: 0.4s;
  line-height: 30px;
  width: 0px;
}
.menuColor{
  background-color: rgba(31, 31, 31,0.90);
  height: 65px;
}

.rodape {
  height: 200px;
  background-color: rgba(31, 31, 31,0.90);
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

.centralizarEespacar {
  text-align: center;
  letter-spacing: 10px;
  font-size: 30px;
  font-weight: 600;
}

.margemTopo { margin-top: 50px }
.margemTopo2 { margin-top: 25px}

.branco { color: white; }
.verdeClaro { color: rgba(240, 255, 240, 0.8)}

.mouseHoverCinza:hover{
  color:lightgray;
}
.justificado{ text-align: justify; text-indent: 20px }
.centralizado{ text-align: center;}

.imgCard {
  height: 100%;
  width: 100px;
}

.card{
  cursor: pointer;
  width: 400px;
  height: 250px;
}

.frenteCard, .costaCard{
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform.6s linear;
}

.card:hover > .frenteCard {transform: perspective(600px) rotateY(-180deg);}
.card:hover > .costaCard {transform: perspective(600px) rotateY(0deg);}

.frenteCard { transform: perspective(600px) rotateY(0deg); }
.costaCard { transform: perspective(600px) rotateY(180deg); }

.costaCard-content {
  text-align: center;
}

.rodape{
  position: absolute;
  bottom: 0;
}

:-moz-placeholder { /* Firefox 18- */
  color: rgb(240, 240, 240);
  font-weight: 400;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: rgb(240, 240, 240);
  font-weight: 400;
}

:-ms-input-placeholder {
  color: rgb(240, 240, 240);
  font-weight: 400;
}
