{% extends "base.html" %}
{% load static %}

{% block  conteudo %}
<div class="row">
	{# ###########################   PROFILE 1   ############################## #}
	<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xg-4 margem">
		<div class="profile margem">
			<div class="frenteprofile margemEsquerda">
				<p class="centralizado">
					<img src="{% static 'img/profile_semaias.jpg' %}" class="imgprofile" alt="Logo do IFRN">
				</p>
				<p class="centralizarEespacar">Semaias Rangel</p>
			</div>
			<div class="costaprofile">
				<div class="costaprofile-content margem margemEsquerda">
					<h3 class="margemDireita">Semaias Rangel de Oliveira Machado</h3>
					<h5 class="margemDireita margem">Full Stack</h5>
					<p class="margemDireita margem">Técnico em informática pelo IFRN; Desenvolvedor Web; Web Designer; Produtor de Áudio, Editor de Vídeo, Áudio; Designer Gráfico; Radialista; Escultor Digital.</p>
					<p class="margemDireita">Apaixonado pelo mundo da informática, busca, através da tecnologia, promover educação de qualidade com acesso livre e vitalício a todos os públicos.</p>
				</div>
			</div>
		</div>
	</div>
	{# #################################   PROFILE 2   ############################# #}
	<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xg-4 margem">
		<div class="profile margem">
			<div class="frenteprofile margemEsquerda">
				<p class="centralizado">
					<img src="{% static 'img/profile_semaias.jpg' %}" class="imgprofile" alt="Logo do IFRN">
				</p>
				<p class="centralizarEespacar">Semaias Rangel</p>
			</div>
			<div class="costaprofile">
				<div class="costaprofile-content margem margemEsquerda">
					<h3 class="margemDireita">Semaias Rangel de Oliveira Machado</h3>
					<h5 class="margemDireita margem">Full Stack</h5>
					<p class="margemDireita margem">Técnico em informática pelo IFRN; Desenvolvedor Web; Web Designer; Produtor de Áudio, Editor de Vídeo, Áudio; Designer Gráfico; Radialista; Escultor Digital.</p>
					<p class="margemDireita">Apaixonado pelo mundo da informática, busca, através da tecnologia, promover educação de qualidade com acesso livre e vitalício a todos os públicos.</p>
				</div>
			</div>
		</div>
	</div>
	{# ##################################   PROFILE 3   ####################################### #}
	<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xg-4 margem">
		<div class="profile margem">
			<div class="frenteprofile margemEsquerda">
				<p class="centralizado">
					<img src="{% static 'img/profile_semaias.jpg' %}" class="imgprofile" alt="Logo do IFRN">
				</p>
				<p class="centralizarEespacar">Semaias Rangel</p>
			</div>
			<div class="costaprofile">
				<div class="costaprofile-content margem margemEsquerda">
					<h3 class="margemDireita">Semaias Rangel de Oliveira Machado</h3>
					<h5 class="margemDireita margem">Full Stack</h5>
					<p class="margemDireita margem">Técnico em informática pelo IFRN; Desenvolvedor Web; Web Designer; Produtor de Áudio, Editor de Vídeo, Áudio; Designer Gráfico; Radialista; Escultor Digital.</p>
					<p class="margemDireita">Apaixonado pelo mundo da informática, busca, através da tecnologia, promover educação de qualidade com acesso livre e vitalício a todos os públicos.</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock  %}
